@media only screen and (max-width: 1200px) {
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
        padding-left: 10px;
    }
    .effect .card-title {
        font-size: 0.5rem;
    }
    .effect .card-text{
        font-size: 0.5rem;
      ;
    }
}
@media only screen and (max-width: 1000px) {
  
    }
@media only screen and (max-width: 400px) {
    .effect .card-title {
        font-size: 0.4rem;
    }
    .effect .card-text{
        font-size: 0.4rem;
      ;
    }
    }
    @media only screen and (max-width: 300px) {
        .effect .card-title {
            font-size: 0.3rem;
        }
        .effect .card-text{
            font-size: 0.3rem;
          ;
        }
        }