{% extends 'core/core.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}
   <section class="about-section mt-4">
        <div class="container p-3">
            <div class="row">                
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2 class="title">About PharmaXpert</h2>
                            <!-- <h2>We are Creative Tech Enthusiast working since 2023</h2> -->
                        </div>
                        <div class="text">
                           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque quae aperiam eos vel alias maiores tenetur laborum culpa repudiandae nostrum.</div>
                      <div class="text">
                       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima consectetur, modi quidem molestias perspiciatis, animi voluptatem nobis autem, eum numquam commodi accusantium dignissimos deserunt hic porro voluptates reprehenderit voluptate dolore!
                      </div>
                       
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                      <div class="author-desc">
                        <h2>PharmaXpert</h2>
                        <span>B2B MARKET PLACE</span>
                      </div>
                        <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg" alt=""></a></figure>
                     
                    </div>
                </div>
              
            </div>
         
        </div>
    </section>

   
 {% endblock main-content %}