{% extends 'core/core.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block main-content %} 


  <!-- Contact Start -->
  <div class="container-fluid w-75 mb-5" style="background: linear-gradient(to right, #1488cc, #2b32b2); border-radius: 2%; margin-top:10%;" data-aos="flip-up" data-aos-duration="2000"  >
      <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4 text-center mt-1"><span class=" pr-3 text-white">Contact Us</span></h2>
      <div class="row px-xl-5">
          <div class="col-lg-5 mb-5">
              <div class="contact-form  p-30" >
                  <div id="success"></div>
                  <form name="sentMessage" id="contactForm" navigation method="post">
                    {% csrf_token %}
                 <!-- {{form.as_p}} -->
                 <p class="m-0 text-white" style="color: azure;">{{ form.label_tag }}</p> 
                 {{form}}
                    <div>
                    <button class="btn btn-danger py-2 px-4 mt-2" type="submit" id="sendMessageButton" style="background: linear-gradient(to right, #ff334e, #f30808, #f52804);">Send Message</button>
                    </div>
                   </form>
                  {% if messages %}
                  {% for message in messages %}
                  <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                  {% endfor %}
                 {% endif %}
        </div>
          </div>
          <div class="col-lg-7 mb-5">
              <div class=" p-30 mb-30" >
                  <iframe style="width: 100%; height: 250px;border-radius: 2%;"
                  src="https://maps.google.com/maps?q=panchkula&t=&z=14&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>
              <div class=" p-30 mb-3 mt-2  text-center" style="    background: linear-gradient(to right, #232526, #414345); border-radius: 2%; ">
                  <p class="mb-2 text-white ml-3"><i class="fa fa-map-marker-alt text-white mr-3"></i>Punchkula</p>
                  <p class="mb-2 text-white ml-3"><i class="fa fa-envelope text-white mr-3"></i>pharmaxpert.com</p>
                  <p class="mb-2 text-white ml-3"><i class="fa fa-phone-alt text-white mr-3"></i>+000 333 5555</p>
              </div>
          </div>
      </div>
  </div> 
  
 {% endblock main-content %}