{% extends 'core/core.html' %}
{% load static %}
{% block title %}change_password{% endblock title %}
{% block main-content %}
<div class="d-flex align-items-center justify-content-center p-5" style="width: 100%; height: 600px;background-color: #eee;">
  <div>
  <form action="" method="post" class="form"  id="form">
    {% csrf_token %}
     <h4 class="text-white text-center" style="background-color: rgb(5, 8, 199)"> Change Password </h4>
     {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}  " role="alert">
      {{message}}
        </div>
        {% endfor %}
      {% endif %}
     
     <div class="form-group">
        
      <label for="Password " class="text-dark">Password</label>

      <input type="text" name="new_password"  class="form-control " placeholder="Enter new password" >

     </div>
     <div class="form-group ">
      <label for="Password" class="text-dark">Re Confirm Password</label>
      <input type="text" name="reconfirm_password" class="form-control  " placeholder="Enter confirm password" >
     </div>
     <div class="text-center">
    <button type="submit" class="btn btn-outline-danger w-100">Confirm Password</button>
  </div>

     
  </form>
</div>
</div>
</div>

{% endblock main-content %}